@import '../colors';

.info-container {
    font-size: 16px;
    margin: 180px 0;

    @media only screen and (max-width: 1220px) {
        padding: 0 20px;
        margin: 100px 0;
        font-size: 14px;
    }
    @media only screen and (max-width: 480px) {
        margin: 40px 0;
    }
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 40px;
    }

    &__type {
        font-size: 2.25em;
        font-weight: 700;
        margin: 0;
    }

    &__link {
        color: $gray;
        cursor: pointer;
        font-size: 1em;
        text-align: center;
        transition: 0.1s;

        &:hover {
            color: $red;
        }
    }

    &__small-cards-container {
        display: grid;
        grid-template-columns: minmax(auto, 280px) minmax(auto, 280px);
        gap: 20px;
        
        @media only screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__cards-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        
        @media only screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

}

.big-card {
    background-color: $darkBlue;
    color: $white;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
    padding: 42px 27px 42px 54px;

    &__description {
        text-transform: uppercase;
        line-height: 30px;
    }
   
    &__title {
        font-size: 1.75em;
        font-weight: 600;
        margin-bottom: 15px;
        line-height: 46px;

        @media screen and (max-width: 380px)   {
            font-size: 1.5em;
            line-height: 40px;
        }
    }

    &__text {
        height: 64px;
        line-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; 
    } 
}

.small-card {
    display: grid;
    justify-content: space-between;
    background-color: $white;
    padding: 36px 19px 33px 21px;
    gap: 10px;
    grid-template-rows: max-content auto;

    &__type {
        text-transform: uppercase;
        line-height: 30px;
        color: $gray;
    }


    &__title {
        font-size: 1.125em;
    }

    &:hover {
        color: $red;
    }
}

.small-card,
.big-card {
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    word-break: break-word;
    overflow: hidden;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.02);
    }
}