@import '../colors';


.sm-card {
    display: grid;
    grid-auto-rows: max-content;
    cursor: pointer;
    text-decoration: none;

    &_col_2 {
        grid-template-columns: 80px auto;
        column-gap: 20px;
        align-items: center;
    }

    &__image{
        width: 80px;
        height: 80px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
    }

    &__tags {
        text-transform: uppercase;
        color: $gray;
        line-height: 30px;
    }

    &__title {
        transition: 0.3s;
        font-weight: 600;
    }

    &:hover &__title {
        color: $pink;
    }
}
