@import '../colors';

.sm-cards-container {
    background-color: $white;
    padding: 30px;
    display: grid;
    row-gap: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    &__title {
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;

    }
    
    &__card-list {
        display: grid;
        row-gap: 30px;
    }
}