@media screen and (max-width: 1180px) {
  .hero-wrapper {
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 28px;
  }
  .hero__subtitle {
    font-size: 16px;
  }
  .hero__author {
    font-size: 14px;
  }
}