.scroll-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  animation: fadeIn 0.3s ease-in-out 0.3s both;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
