
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 10px;

    &__rights {
        color: silver;
        margin: 0;
    }
}

@media screen and (max-width: 450px) {        
    .footer {
        grid-template-columns: 1fr;

        &__rights {
            text-align: center;
        }
    }
}
