@import './colors';

.footer {
    padding: 20px 0;
    @media only screen and (max-width: 1180px) {
        padding: 20px;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 10px;
        max-width: 1180px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    

    &__rights {
        color: $gray;
        justify-self: end;
        text-align: center;
        margin: 0;

    }
}

@media screen and (max-width: 450px) {        
    .footer {

        &__container {
            grid-template-columns: 1fr;
            justify-items: center;
        }

        &__rights {
            justify-self: center;
        }
    }
}
