@import './colors';

.logo {
    cursor: pointer;

    &_black svg g path {
        fill: $black;
    }  

    &_white svg g path {
        fill: $white;
    }

    &_gray svg g path {
        fill: $gray;
    }

    & svg g path {
        transition: 0.3s;
    }
    
    &:hover svg g path {
        fill: $red;
    }


}
  