@import './colors';

.search {
    &__input-container {
        box-sizing: border-box;
        width: 60%;
        margin-right: 5px;
        position: relative;

        &_underline {
            &:after {    
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 1px;
                left: 50%;
                position: absolute;
                background: $pink;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
              }
    
              &:hover:after { 
                width: 100%; 
                left: 0; 
              }
        }
    }

    &__input {
        border: none;
        background: transparent;
        font-family: "Open Sans", sans-serif;
        cursor: pointer;
        width: 100%;
        font-size: 1.1em;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        cursor: pointer;
        transition: fill 0.3s;

        &:hover {
            fill: $pink;
        }
    }
}
