@import './colors';

.social-nets-container {
    width: 100%;
    display: flex;
}


.social-link {
    border-radius: 50%;
    display: flex;
    color: $white;
    transition: 0.3s;
    box-sizing: border-box;

    &_size {

        &_sm {
            font-size: 12px;
            height: 20px;
            width: 20px;
            margin: 3px;
        }


        &_md {
            font-size: 20px;
            height: 39px;
            width: 37px;
            margin: 5px;
        }
    }

    &_theme_1 {
        background-color: $gray;

        &:hover {
            background-color: $pink;
            color: $black;
        }
    }

    &_theme_2 {
        background-color: $pink;

        &:hover {
            background-color: $purpleBlue;
        }
    }

    &__icon {
        margin: auto;
    }
}
