@import './colors';

.subscribe {
    display: flex;
    margin: 10px 0; 
    width: 100%;
    justify-content: center;
    

    &_size_sm {
        height: 40px;
    }

    &_size_lg {
        height: 70px;
    }

    &__email {
        box-sizing: border-box;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
        border-radius: 40px;
        border: none;
        padding: 6px;
        height: 100%;

        &_size {
            &_sm {
                padding-right: 55px;
                width: 230px;
            }

            &_lg {
                padding-left: 30px;
                padding-right: 90px;
                width: 440px;
            }
        }


        &:focus {
            outline: none;
            box-shadow:  0 0 8px rgba($color: $purpleBlue, $alpha: 1.0);
        }
    }

    &__btn {
        height: 100%;
        transform: translate(-50%);
        
        &_size {
            &_sm {
                width: 100px;
            }

            &_lg {
                width: 170px;
            }
        }
    }

    @media screen and (max-width: 1180px) {
           &__btn {
               width: 30%;
           }
           &__email {
               width: 60%;
           }
    }
}